/*
 css styles for
 jquery.simpletabs.js
 version: 1.0.1
 author: Shengying Pan
 license: MIT
 http://projects.shengyingpan.com/simpletabsjs
 */

.tabs-container
{
    /* Can add custom styles */
}

.tabs-navigation
{
    list-style: none;
    font-size: 11px;
    margin: 0;
    padding: 0;
    height: 21px;
    background: url(../images/tab-line.gif) repeat-x bottom;
}

.tabs-nav-tab
{
    float: left;
    text-align: center;
    display: block;
    height: 21px;
    margin-right: 2px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
}

.tabs-nav-tab i
{
    display: inline-block;
    padding: 4px;
    height: 13px;
    line-height: 13px;
    font-style: normal;
}

.tabs-nav-tab-hs
{
    clear: both;
    text-align: right;
}

.tabs-nav-hs-span
{
    position: relative;
    top: -17px;
    color: Gray;
    cursor: pointer;
}

.tabs-nav-hs-img
{
    width: 10px;
    height: 5px;
    position: relative;
    top: -17px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
}

.tabs-nav-hs-img-max
{
    background: url(../images/maximize.gif) no-repeat;
}

.tabs-nav-hs-img-min
{
    background: url(../images/minimize.gif) no-repeat;
}

.tabs-content
{
    clear: both;
    border: 1px solid #D8D8D8;
    border-top: 0;
    padding: 10px;
}

.tabs-tab-inactive
{
    font-weight: normal;
    background: url(../images/tab.gif) repeat-x;
}

.tabs-tab-active
{
    font-weight: bold;
    background: url(../images/tab-active.gif) repeat-x;
}

.tabs-tab-inactive i
{
    cursor: pointer;
}

.tabs-tab-active i
{
    cursor: text;
}